<!--
Class: CSC-648-848 Fall 2024
Filename: home.html
Author(s): Adharsh Thiagarajan
Created: 2024-11-14
Description: Home page for Brain Buff's 
-->
{% extends "base.html" %} {% block title %}Home - Brain Buffs{% endblock %} {%
block content %}
<main>
  <section class="container text-center">
    <div class="p-3 pb-md-4 mx-auto text-center w-75">
      <h1 class="display-4 fw-normal text-body-emphasis">
        Welcome to Brain Buffs
      </h1>
      {% if alert_message %}
      <div class="alert alert-success" role="alert">
        <p>{{ alert_message }}</p>
      </div>
      {% endif %}
      <p class="fs-5 text-body-secondary">
        Brain Buffs is a tutoring platform made by SFSU students, for SFSU
        students. Whether you need help with your courses or want to become a
        tutor, we’re here to help you succeed.
      </p>
    </div>
  </section>

  <section class="container my-5">
    <div class="row">
      <div class="col text-center">
        <img
          src="{{ url_for('static', filename='images/students-studying.jpg') }}"
          alt="Students Studying"
          class="img-fluid rounded"
        />
        <h3 class="mt-3">Find a Tutor</h3>
        <p class="fs-6 text-body-secondary">
          Browse through our list of experienced tutors to get help with your
          specific course. We’re here to make sure you succeed in your classes.
        </p>
      </div>

      <div class="col text-center">
        <img
          src="{{ url_for('static', filename='images/start-teaching.jpg') }}"
          alt="Start Teaching"
          class="img-fluid rounded"
        />
        <h3 class="mt-3">Become a Tutor</h3>
        <p class="fs-6 text-body-secondary">
          Share your knowledge and help others excel. Sign up to become a tutor
          and contribute to the SFSU community.
        </p>
      </div>
    </div>
  </section>
</main>

{% endblock %}
