<!--
Class: CSC-648-848 Fall 2024
Filename: member-detail.html
Author(s): Shun Usami
Created: 2024-11-14
Description: This file shows profiles of our group members.
-->

{% extends "base.html" %} {% block title %}{{ member.name }} - Brain Buffs{%
endblock %} {% block content %}
<main>
  <div class="container text-center">
    <img
      src="{{ url_for('static', filename=member.image_url) }}"
      alt="{{ member.name }}"
      class="rounded-circle object-fit-cover m-5"
      style="width: 12rem; height: 12rem"
    />
    <div class="profile-details">
      <h2>{{ member.name }}</h2>
      <p>{{ member.role }}</p>
      <p>{{ member.profile }}</p>
    </div>
  </div>
</main>
{% endblock %}
