<!--
Class: CSC-648-848 Fall 2024
Filename: tutor_sign_up.html
Author(s): Adharsh Thiagarajan
Created: 2024-11-14
Description: Tutor Sign Up Page for anyone who wants to be a tutor 
-->

{% extends "base.html" %} {% block title %}Become a Tutor - Brain Buffs{%
endblock %} {% block content %}
<main>
  <section class="container text-center my-5">
    <div class="p-4 pb-md-5 mx-auto text-center w-50">
      <h1 class="display-4 fw-normal text-body-emphasis mb-4">
        Become a Tutor
      </h1>
      <form action="/tutor_signup" method="post" enctype="multipart/form-data">
        <!-- Subject Field -->
        <div class="mb-3 row">
          <label for="subject" class="col-form-label text-start">
            Subject <span style="color: red">*</span>
          </label>
          <div class="col">
            <select name="subject" class="form-select" required>
              <option disabled selected value="">-- Select a Subject --</option>
              {% for subject in subjects %}
              <!-- prettier-ignore -->
              <option value="{{ subject.id }}" {% if selected_subject == subject.id %} selected {% endif %}>
                  {{ subject.name }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>

        <!-- Course# Field -->
        <div class="mb-3 row">
          <label for="course_number" class="col-form-label text-start">
            Course# <span style="color: red">*</span>
          </label>
          <div class="col">
            <input
              type="number"
              max="999"
              min="100"
              class="form-control"
              placeholder="Enter Course # (e.g. 648)"
              maxlength="10"
              id="course_number"
              name="course_number"
              required
            />
          </div>
        </div>

        <!-- Title Field -->
        <div class="mb-3 row">
          <label for="title" class="col-form-label text-start">
            Title <span style="color: red">*</span>
          </label>
          <div class="col">
            <input
              type="text"
              class="form-control"
              id="title"
              maxlength="255"
              pattern="[A-Za-z0-9 ]*"
              placeholder="Enter a Title"
              name="title"
              required
            />
          </div>
        </div>

        <!-- Description Field -->
        <div class="mb-3 row">
          <label for="description" class="col-form-label text-start">
            Description <span style="color: red">*</span>
          </label>
          <div class="col">
            <textarea
              class="form-control"
              id="description"
              placeholder="Enter a Description"
              name="description"
              rows="3"
              maxlength="500"
              required
            ></textarea>
          </div>
        </div>

        <!-- Pay Rate Field -->
        <div class="mb-3 row">
          <label for="pay_rate" class="col-form-label text-start">
            Pay Rate <span style="color: red">*</span>
          </label>
          <div class="col input-group">
            <span class="input-group-text">$</span>
            <input
              type="number"
              class="form-control"
              placeholder="Enter Pay Rate"
              id="pay_rate"
              max="9999.99"
              min="0"
              name="pay_rate"
              required
            />
            <span class="input-group-text">/hr</span>
          </div>
        </div>

        <!-- Attach CV Field -->
        <div class="mb-3 row">
          <label for="cv" class="col-form-label text-start"> Attach CV </label>
          <div class="col">
            <input
              type="file"
              class="form-control"
              id="cv"
              name="cv"
              accept=".pdf,.doc,.docx"
            />
          </div>
        </div>

        <!-- Upload Profile Picture Field -->
        <div class="mb-3 row">
          <label for="profile_picture" class="col-form-label text-start">
            Upload Profile Picture
          </label>
          <div class="col">
            <input
              type="file"
              class="form-control"
              id="profile_picture"
              name="profile_picture"
              accept="image/*"
            />
          </div>
        </div>
        <p class="text-muted">
          <span style="color: red">*</span> field is required.
        </p>
        <p class="text-muted">
          By submitting, I understand that applications may take up to 24 hours
          to approve.
        </p>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </section>
</main>
{% endblock %}
