{% extends "base.html" %}
{% block title %}About Brain Buffs{% endblock %}

{% block content %}
<main>
  <section class="container text-center">
    <div class="p-3 pb-md-4 mx-auto text-center w-75">
      <h1 class="display-4 fw-normal text-body-emphasis">About Us</h1>
      <p class="fs-5 text-body-secondary">
        We are Team 01 from the Software Engineering Project (CSC 648/848)
        for Fall 2024. Brain Buff is a tutoring service created by SFSU
        students, for SFSU students.
      </p>
    </div>
    <div class="d-flex flex-wrap justify-content-evenly gap-3">
      {% for id, member in members.items() %}
      <div class="card" style="width: 18rem">
        <img
          src="{{ url_for('static', filename=member.image_url) }}"
          alt="{{ member.name }}"
          class="object-fit-cover"
          style="height: 16rem"
        />
        <div class="card-header">{{ member.role }}</div>
        <div class="card-body">
          <h5 class="card-title">{{ member.name }}</h5>
          <p class="card-text">{{ member.profile }}</p>
          <a href="/about/{{ id }}" class="card-link">View Profile</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock %}