{% extends "base.html" %}
{% block title %}{{ member.name }} - Brain Buffs{% endblock %}

{% block content %}
<main>
    <div class="container text-center">
      <img
        src="{{ url_for('static', filename=member.image_url) }}"
        alt="{{ member.name }}"
        class="rounded-circle object-fit-cover m-5"
        style="width: 12rem; height: 12rem"
      />
      <div class="profile-details">
        <h2>{{ member.name }}</h2>
        <p>{{ member.role }}</p>
        <p>{{ member.profile }}</p>
      </div>
    </div>
  </main>
{% endblock %}
